@import url('https://fonts.googleapis.com/css?family=Numans');
html,
body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    margin-top: 50px;
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
}

.card-header h3 {
    color: black;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn {
    color: black;
    width: 100px;
}

.username {
    margin-right: 5px;
    cursor: default !important;
}

.logout {
    margin-left: 5px;
}

.mainContainer {
    padding: 20px;
 }
